{{ block "content" . }}
<div class="container">
	<form action="/post">
		<div class="row">
			<input type="text" placeholder="Dodelo dodeldi dodeldooo dooo." class="form-control col-sm-9 dodel-input" name="text">
			<button name="color" value="{{ .NextColor }}" class="btn bg-{{ .NextColor }} color-button offset-sm-1 col-sm-2"role="submit">Submit</button>
		</div>
	</form>
</div>
<hr>
{{ range .Posts }}
<div class="card ">
	<div class="card-block bg-{{ .Color }}">
		<a class="post-title" href="/comments?id={{ .Post }}">
			<form action="/vote">
				<div class="row">
					<input type="hidden" name="post" value="{{ .Post }}">
					<div class="text-center {{ if .Voted }}button-disabled{{ end }} vote-block col-xs-2">
						<button class="button-upvote {{ if .HasUpvoted }}bg-none active{{ else }}bg-inactive{{end }}" role="submit" name="upvote" value="upvote">▲</button><br>
						<span class="card-votes">{{ .Votes }}</span><br>
						<button class="button-downvote {{ if .HasDownvoted }}bg-none active{{ else }}bg-inactive{{end}}" role="submit" name="downvote" value="downvote">▼</button>
					</div>
					<div class="dodel lead col-xs-10">{{ .Text }}</div>
				</div>
					<div class="container since-post">
						{{ .SincePost }}
					</div>
			</form>
		</a>
	</div>
</div>
{{ end }}
{{ end }}
