{{ block "content" . }}
<div class="card">
    <div class="card-header bg-{{ .Main.Color }}">
        <form action="/vote">
            <div class="row">
                <input type="hidden" name="post" value="{{ .Main.Post }}">
                <input type="hidden" name="keep" value="keep">
                <div class="text-center {{ if .Main.Voted }}button-disabled{{ end }} vote-block col-xs-2">
                    <button class="button-upvote {{ if .Main.HasUpvoted }}bg-none active{{ else }}bg-inactive{{end }}" role="submit" name="upvote" value="upvote">▲</button><br>
                    <span class="card-votes">{{ .Main.Votes }}</span><br>
                    <button class="button-downvote {{ if .Main.HasDownvoted }}bg-none active{{ else }}bg-inactive{{end}}" role="submit" name="downvote" value="downvote">▼</button>
                </div>
                <div class="dodel lead col-xs-10">{{ .Main.Text }}</div>
            </div>
            <div class="container since-post">
                {{ .Main.SincePost }}
            </div>
        </form>
    </div>
    <div class="card-block full-width">
        {{ range .Comments }}
        <div class="card ">
            <div class="card-block bg-{{ .Color }}">
                <form action="/vote">
                    <div class="row">
                        <input type="hidden" name="topic" value="{{ .Topic }}">
                        <input type="hidden" name="keep" value="keep">
                        <input type="hidden" name="post" value="{{ .Post }}">
                        <div class="text-center {{ if .Voted }}button-disabled{{ end }} vote-block col-xs-2">
                            <button class="button-upvote {{ if .HasUpvoted }}bg-none active{{ else }}bg-inactive{{end }}" role="submit" name="upvote" value="upvote">▲</button><br>
                            <span class="card-votes">{{ .Votes }}</span><br>
                            <button class="button-downvote {{ if .HasDownvoted }}bg-none active{{ else }}bg-inactive{{end}}" role="submit" name="downvote" value="downvote">▼</button>
                        </div>
                        <div class="dodel lead col-xs-10">{{ .Text }}</div>
                    </div>
                    <div class="container since-post">
                        {{ .SincePost }}
                    </div>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
