body {
	background-color: #f7f7f7;
	height: 100%;
}
.button-disabled {
	pointer-events: none;
}
.button-upvote {
	border: none;
}
.since-post {
	color: #f7f7f7;
	text-align: right;
}
.button-downvote {
	border: none;
}
footer {
	position: absolute;
	text-align: center;
	display: block;
	font-weight: 600;
}
.vote-block {
	padding-right: 1em;
}
.card {
	margin-bottom: 1em;
}
.fg-red {
	color: #d9534f;
}
.fg-red:hover {
	color: #d9424f;
}
.fg-blue {
	color: #0275d8;
}
.fg-blue:hover {
	color: #0253d8;
}
.fg-green {
	color: #5cb85c;
}
.fg-green:hover {
	color: #4ca84c;
}
.fg-orange 
	color: #ec971f;
}
.fg-orange:hover {
	color: #ec870f;
}
.bg-red {
	background-color: #d9534f;
}
.bg-red:hover {
	background-color: #d9424f;
}
.bg-blue {
	background-color: #0275d8;
}
.bg-blue:hover {
	background-color: #0253d8;
}
.bg-green {
	background-color: #5cb85c;
}
.bg-green:hover {
	background-color: #4ca84c;
}
.bg-orange {
	background-color: #ec971f;
}
.bg-orange:hover {
	background-color: #ec870f;
}
.bg-none {
	background-color: rgba(0,0,0,0);
	color: #fff;
}
.bg-inactive {
	background-color: rgba(0,0,0,0);
	color: rgba(255,255,255,0.5);
}
.bg-inactive:hover {
	color: rgba(255, 255, 255, 1.0);
}
.main-container {
	margin-top: 1.5em;
}
.post-title {
	color: #f7f7f7;
}
.post-title:hover {
	color: #f7f7f7;
}
.Zwig {
	color: #f7f7f7;
}
.Zwig-input {
	resize: none;
}
.color-button {
	color: #f7f7f7;
}
.card-votes {
	color: #f7f7f7;
}
.card-header {
	color: #f7f7f7;
}
.full-width {
	padding: 0;
	padding-top: 1em;
	padding-left: 1em;
}
a:hover {
	text-decoration: none;
}
.card-block {
	color: #f7f7f7;
}